In [1]:
import pandas as pd
import numpy as np

In [4]:
#  join
#index macht

In [18]:
izquiera = pd.DataFrame ({    
    'A': ['a0','a1','a2','a3'],
    'B': ['b0','b1','b2','b3'],
},index=['k0','k1','k2','k3'],)
izquiera

     A   B
k0  a0  b0
k1  a1  b1
k2  a2  b2
k3  a3  b3

In [23]:
derecha = pd.DataFrame ({    
    'C': ['c0','c1','c2','c3'],
    'd': ['d0','d1','d2','d3'],
},index=['k0','k5','k6','k7'],)
derecha

     C   d
k0  c0  d0
k5  c1  d1
k6  c2  d2
k7  c3  d3

In [27]:
izquiera.join(derecha,how='outer')

      A    B    C    d
k0   a0   b0   c0   d0
k1   a1   b1  NaN  NaN
k2   a2   b2  NaN  NaN
k3   a3   b3  NaN  NaN
k5  NaN  NaN   c1   d1
k6  NaN  NaN   c2   d2
k7  NaN  NaN   c3   d3