In [1]:
import pandas as pd

In [2]:
pd.Series(['navas','Mbappe','messi'],
index = [1,3,6])

1     navas
3    Mbappe
6     messi
dtype: object

In [3]:
pd.Series(['navas','Mbappe','messi'])

0     navas
1    Mbappe
2     messi
dtype: object

In [11]:
dic ={
    1:'navas', 
    7:'messi',
    3:'Mbappe'
    }
pd.Series(dic)
print(dic[1])

navas

In [12]:
#matrices pd
dic = {'jugador':['navas','Mbappe','messi'],
    'altura' :[1.85,1.75,1.78],
    'goles':[100,10,11]
    }

In [14]:
pd.DataFrame(dic, index = [1,3,6])

  jugador  altura  goles
1   navas    1.85    100
3  Mbappe    1.75     10
6   messi    1.78     11

In [16]:
conversion = pd.DataFrame(dic, index = [1,3,6])

In [17]:
conversion.columns

Index(['jugador', 'altura', 'goles'], dtype='object')

In [18]:
conversion.index

Int64Index([1, 3, 6], dtype='int64')