In [2]:
import pandas as pd
import numpy as ny

In [4]:
psg_players = pd.Series(['navas','mbape', 'mese'],
index = [1,7,10])

In [5]:
psg_players

1     navas
7     mbape
10     mese
dtype: object

In [6]:
dicc= {1:'navas', 3:'neymar', 30:'messi'}
dicc

{1: 'navas', 3: 'neymar', 30: 'messi'}

In [7]:
pd.Series(dicc)

1      navas
3     neymar
30     messi
dtype: object

In [9]:
dicc[1]

'navas'

In [11]:
# para guardar toda una matriz
datafreames = {'jugador':['navas','napa','neymar', 'messi'],
 'altura':[1.80,1.30,1.80,1.90],
 'goles':[10,20,30,40]}

In [19]:
datafreames =pd.DataFrame(datafreames, index=[1,2,3,4])
datafreames

  jugador  altura  goles
1   navas     1.8     10
2    napa     1.3     20
3  neymar     1.8     30
4   messi     1.9     40

In [20]:
datafreames.columns

Index(['jugador', 'altura', 'goles'], dtype='object')

In [21]:
#matriz ezmaple
ezmple = {
    'Jugador':['Luis SuÃ¡rez','Jorge Molina', 'Antonio Puertas', 'GermÃ¡n SÃ¡nchez', 'Luis Milla', 'LuÃ­s Manuel Arantes Maximiano'],

'PosiciÃ³n':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],

'NÃºmero':[9, 23, 10, 6, 5, 1],

'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],

'Goles':[7, 7, 5, 2, 2, 0]
}

In [34]:
ezampleseries = pd.DataFrame(ezmple)
ezampleseries

                          Jugador       PosiciÃ³n  NÃºmero  Altura  Goles
0                    Luis SuÃ¡rez       Delantero        9   185.0      7
1                    Jorge Molina       Delantero       23   187.0      7
2                 Antonio Puertas  Centrocampista       10   185.0      5
3                GermÃ¡n SÃ¡nchez         Defensa        6   187.0      2
4                      Luis Milla  Centrocampista        5   175.0      2
5  LuÃ­s Manuel Arantes Maximiano         Portero        1   190.0      0

In [39]:
del ezampleseries['Altura']

In [40]:
ezampleseries.drop(0,axis=0)

                          Jugador       PosiciÃ³n  NÃºmero  Goles
1                    Jorge Molina       Delantero       23      7
2                 Antonio Puertas  Centrocampista       10      5
3                GermÃ¡n SÃ¡nchez         Defensa        6      2
4                      Luis Milla  Centrocampista        5      2
5  LuÃ­s Manuel Arantes Maximiano         Portero        1      0

In [46]:
ezampleseries

,Jugador,PosiciÃ³n,NÃºmero,Goles,example3
0,Luis SuÃ¡rez,Delantero,9,7,<function notna at 0x000001756F5EEE50>
1,Jorge Molina,Delantero,23,7,<function notna at 0x000001756F5EEE50>
2,Antonio Puertas,Centrocampista,10,5,<function notna at 0x000001756F5EEE50>
3,GermÃ¡n SÃ¡nchez,Defensa,6,2,<function notna at 0x000001756F5EEE50>
4,Luis Milla,Centrocampista,5,2,<function notna at 0x000001756F5EEE50>
5,LuÃ­s Manuel Arantes Maximiano,Portero,1,0,<function notna at 0x000001756F5EEE50>

In [48]:
ezampleseries['parte3'] = pd.NA

In [49]:
ezampleseries

                          Jugador       PosiciÃ³n  NÃºmero  Goles parte3
0                    Luis SuÃ¡rez       Delantero        9      7   <NA>
1                    Jorge Molina       Delantero       23      7   <NA>
2                 Antonio Puertas  Centrocampista       10      5   <NA>
3                GermÃ¡n SÃ¡nchez         Defensa        6      2   <NA>
4                      Luis Milla  Centrocampista        5      2   <NA>
5  LuÃ­s Manuel Arantes Maximiano         Portero        1      0   <NA>