In [1]:
import pandas as pd
import numpy as np

In [6]:
from cmath import nan


dic = {
'col1':[1,2,3,np.nan], 
'col2':[4, np.nan, 6, 7],
'col3':['a', None,'c','d']}

In [9]:
df=pd.DataFrame(dic)
df

   col1  col2 col3
0   1.0   4.0    a
1   2.0   NaN  NaN
2   3.0   6.0    c
3   NaN   7.0    d

In [10]:
df.isnull()*1

   col1  col2  col3
0     0     0     0
1     0     1     1
2     0     0     0
3     1     0     0

In [11]:
df.fillna('missing')

      col1     col2     col3
0      1.0      4.0        a
1      2.0  missing  missing
2      3.0      6.0        c
3  missing      7.0        d

In [12]:
df.fillna(df.mean())
#llena los valores con promedios

C:\Users\PRINCIPAL\AppData\Local\Temp\ipykernel_14120\634187881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

   col1      col2  col3
0   1.0  4.000000     a
1   2.0  5.666667  None
2   3.0  6.000000     c
3   2.0  7.000000     d

In [13]:
#busca los posibles números a continuar
df.interpolate()

   col1  col2  col3
0   1.0   4.0     a
1   2.0   5.0  None
2   3.0   6.0     c
3   3.0   7.0     d

In [14]:
#borrar valores nulos
df.dropna()

   col1  col2 col3
0   1.0   4.0    a
2   3.0   6.0    c